.tabla-buscar-pacientes {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px !important;
}

tr:nth-child(even) {
    background-color: #94CAE4;
}

.barra-busqueda {
  margin-bottom: 30px;
}

.columna-boton-cita{
  border: 0px !important;
  text-align: center !important;
  background-color: white !important;
}
