<h1>Reseteo de Password</h1>

<p>Para crear un nuevo password, haga click en el siguiente enlace::</p>

<%= link_to "Resetear Password", edit_password_reset_url(@admin.reset_token,
                                                      email: @admin.email) %>

<p>Este enlace expirara en dos horas..</p>

<p>
Si usted no solicito crear un nuevo password, ignore este mensaje que su password quedara como esta.
</p>