<%= render 'layouts/navbar' %>

<div class="title-page text-center">
  <h1>Registro de Credenciales</h1>
</div>

<div class="advertencia text-center">
  <h4><strong><i class="fa fa-warning fa-fw"></i> Cambiar contraseña.</strong></h4>
</div>
