.bs-callout {
  padding: 10px;
  margin: auto;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-color: #ce4844;
  width: 730px;
  margin-top: 35px;
  margin-bottom: 35px;
  color: red;
}

.title-page {
  text-align: center;
  border-bottom: 2px solid ;
  border-color: #94CAE4;
  color: #94CAE4;
  letter-spacing: 5px;
  width: 680px;
  margin: auto;
}

.advertencia {
   text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #94CAE4;
}

.panel-cambiar-credenciales {
   margin-top: 25px;
}

.contrasena-actual {
   color: red;
   margin-top: 10px;
   margin-bottom: -7px;
}

