.home-title {
  text-align: center;
  border-bottom: 2px solid ;
  border-color: #147BCC;
  color: #147BCC;
  letter-spacing: 5px;
  width: 680px;
  margin: auto;
}

.home-subtitle {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #147BCC;
}

.thumbnail .thumbnail_image {
  height:196px;
  width:350px;
}