// Place all the styles related to the Principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.principal-title {
  text-align: center;
  border-bottom: 2px solid ;
  border-color: #147BCC;
  color: #147BCC;
  letter-spacing: 5px;
  width: 480px;
  margin: auto;
}

.principal-subtitle {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #147BCC;
}

.home-structure-outer {
    position: relative;
    height: 600px;
}

.home-structure-inner{
  width: 500px;
  height:510px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.div-caduceus {
  display: flex;
  width: 400px;
  margin: auto;
  padding-top: 35px;
}

.img-caduceus {
  width:150px; 
  height:150px; 
  margin:auto;
}

.f-pass {
  margin-top: -12px;
  margin-bottom: 15px;
  padding-left: 2px;
  text-align: center;
}