<div class="container">
  <div class="footer">
    <small>
      Copyright &copy; Andauquer</a>
      by Oscar Gabauquer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Credenciales", credenciales_path %></li>
        <li><%= "|" %></li>
        <li><%= link_to "Pagina Principal", home_path %></li>
      </ul>
    </nav>
  </div>
</div>
    
